@charset "utf-8";
/* CSS Document */

body {font-family: Arial, Helvetica, sans-serif;}


.bg-img-1 {
  background-image: url(../banner-1.jpg);
  min-height: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-nav {
  
  background-color: #111111;
  margin-top: 41px;
  height: 95px;
  border-radius: 8px;
}

.logo {
	color: #ffffff;
	font-size: 48px;
	font-weight: 600;
	padding-top: 15px !important;
	padding-left: 80px !important;

}

.nav-option {
	padding-top: 25px !important;
}
.nav-option a {
	
	color: #b6b3b3 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
    font-size: 14px !important;
}
a:focus, a:hover {
    color: #000000 !important ;
}
.nav>li>a:hover {
    background-color: #eebf49 !important;
}

.nav-down {
	display: none;
}


.heading-1 {
	color: #ffffff;
	font-size: 100px;
	font-size: 7.5vw;
	font-weight: 700;
	padding:150px 0 0 80px !important;
	margin: 0 !important;

}

.heading-2 {
	color: #ffffff;
	font-size: 30px;
	font-size: 2.5vw;
	font-weight: 500;
	padding:0 0 0 80px !important;
	margin: 0!important;

}
.button-1 {
	padding:20px 0 0 80px !important;
}

.bg-img-2 {
  background-image: url(../bg-2.jpg);
  min-height: 1100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.head-1 {
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
    padding:48px 0 30px 0 !important;
}

.product-1 {
	background-color: #111111;
	height: 115px;
	width: 220px;
	
}
.product-head {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
    margin:0!important;
    padding:23px 0 11px 0 !important;
    display:block;
}

.product-body {
	color: #b6b3b3;
	font-size: 11px;
	text-align: center;	
}

.product-button {
	background-color: #eebf49;
	border: 0px !important ;
	margin:0 0 0 78px !important;
}

.head-2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
    padding:48px 0 30px 0 !important;
}

.news-item {
}


.news-heading {
	color: #eebf49;
	font-size: 15px;
	text-align: justify; 
}

.news-body {
	color:  #b6b3b3 ;
	font-size: 11px;
	text-align: justify;
}

.welcome-img {
	height: 150px !important;
	width: 100% ;
}

.prod-img {
	margin: 10px 0 !important;
}

.news-button {
	background-color: #eebf49;
	border: 0px !important ;
	margin-top: 30px ;
	padding: 5px 15px;
}

.welcome-button {
	background-color: #eebf49;
	border: 0px !important ;
	margin-top: 46px ;
	padding: 5px 15px;
}

.prod-button {
	background-color: #eebf49;
	border: 0px !important ;
	margin-top: 52px;
	padding: 5px 15px;
}




.footer {
	background-color: #111111 ;
	height: 413px;
	padding: 0 !important ;
	margin:  0 !important ;
}

.footer-head {
	color: white ;
	font-size: 18px;
	margin-top: 60px !important;
	margin-bottom: 40px;
	font-weight: 700 ;
}

.footer-list {
	color:  #b6b3b3;
	display: block;
	list-style: none;
	font-size:11px;
	padding: 0 !important ;
	margin: 0 !important ;
}

.list {
	margin: 10px 0 ;
}






@media only screen and (max-width: 992px ) {
  .product-width { margin: 10px 0; }
  .nav-option{ display: none; }
  .bg-img-1 {min-height: 620px;}
  .bg-img-2 {min-height: 1500px;} 
  .prod-button {margin-bottom: 30px;}	
}

@media only screen and (max-width: 767px ) {
 .bg-img-1 {min-height: 540px;} 
  .bg-img-2 {min-height: 1500px;} 
}


@media only screen and (max-width: 493px ) {
	.footer {height: 370px;}
	.footer-head {font-size: 14px;}
	.footer-list {font-size: 9px;}
}

@media only screen and (max-width: 420px ) {
	.logo { font-size: 36px;
		     padding-left: 55px !important ; 
		     padding-top: 20px !important; }
	.heading-1 {padding-left: 55px !important;}
	.heading-2 {padding-left: 55px !important;}
	.button-1 {padding-left: 55px !important;}
    .footer-head {font-size: 12px;}
	.footer-list {font-size: 9px;}
}
